.vector-icon {
  position: absolute;
  top: 251.5px;
  left: 152.5px;
  width: 149.8px;
  height: 145.7px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  top: 250.3px;
  left: 151.4px;
  width: 152.2px;
  height: 148.1px;
  z-index: 1;
}
.vector-icon2 {
  top: 390.7px;
  left: 5.2px;
  width: 200.5px;
  height: 118.7px;
  z-index: 2;
}
.vector-icon3,
.vector-icon4 {
  position: absolute;
  top: 389.5px;
  left: 4px;
  width: 202.9px;
  height: 121.1px;
  z-index: 3;
}
.vector-icon4 {
  top: 50.2px;
  left: 37.1px;
  width: 155.8px;
  height: 171.1px;
  z-index: 5;
}
.vector-icon5,
.vector-icon6 {
  position: absolute;
  top: 151.6px;
  left: 25.2px;
  width: 60.9px;
  height: 84.6px;
  z-index: 9;
}
.vector-icon6 {
  top: 150.3px;
  left: 24px;
  width: 63.4px;
  height: 87.1px;
  z-index: 10;
}
.vector-icon7,
.vector-icon8 {
  position: absolute;
  top: 0;
  left: 292.9px;
  width: 409.5px;
  height: 459.6px;
  z-index: 9;
}
.vector-icon8 {
  top: 225.4px;
  left: 52.4px;
  width: 225.6px;
  height: 181px;
  z-index: 13;
}
.vector-icon10,
.vector-icon9 {
  position: absolute;
  top: 224.1px;
  left: 51.2px;
  width: 228.1px;
  height: 183.4px;
  z-index: 14;
}
.vector-icon10 {
  top: 1.2px;
  left: 1px;
  width: 88.3px;
  height: 140px;
  z-index: 7;
}
.group-icon,
.vector-icon11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon11 {
  top: 130px;
  left: 205.7px;
  width: 31.6px;
  height: 68px;
  z-index: 11;
}
.vector-icon12,
.vector-icon13 {
  position: absolute;
  top: 128.8px;
  left: 204.4px;
  width: 34.1px;
  height: 70.4px;
  z-index: 12;
}
.vector-icon13 {
  top: 14.2px;
  left: 24.5px;
  width: 33.9px;
  height: 33.9px;
  z-index: 9;
}
.vector-icon14,
.vector-icon15 {
  position: absolute;
  top: 7.1px;
  left: 60.5px;
  width: 33.6px;
  height: 33.6px;
  z-index: 9;
}
.vector-icon15 {
  top: 23.8px;
  left: 55.4px;
  width: 7.4px;
  height: 4.1px;
  z-index: 10;
}
.vector-group,
.vector-icon16 {
  position: absolute;
  top: 99.3px;
  left: 71.2px;
  width: 240.4px;
  height: 199.2px;
}
.vector-icon16 {
  top: 47.6px;
  left: 57.7px;
  width: 76.9px;
  height: 97.1px;
  z-index: 12;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  top: 46.3px;
  left: 56.5px;
  width: 79.4px;
  height: 99.5px;
  z-index: 13;
}
.vector-icon18 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.vector-icon19,
.vector-icon20 {
  position: absolute;
  top: 81.6px;
  left: 31.7px;
  width: 29px;
  height: 3.5px;
  z-index: 10;
}
.vector-icon20 {
  top: 80.3px;
  left: 30.4px;
  width: 31.5px;
  height: 6px;
  z-index: 11;
}
.vector-icon21,
.vector-icon22 {
  position: absolute;
  top: 74.8px;
  left: 19px;
  width: 30.7px;
  height: 40.3px;
  z-index: 14;
}
.vector-icon22 {
  top: 73.5px;
  left: 17.7px;
  width: 33.2px;
  height: 42.9px;
  z-index: 15;
}
.vector-container {
  position: absolute;
  top: 49px;
  left: 36.1px;
  width: 158px;
  height: 173.6px;
}
.vector-icon23,
.vector-icon24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.vector-icon24 {
  top: 72.3px;
  left: 33.9px;
  width: 53.4px;
  height: 43.1px;
  z-index: 15;
}
.frame-div {
  position: absolute;
  top: 166.9px;
  left: 0;
  width: 212.2px;
  height: 288.5px;
}
.vector-parent {
  top: 1.3px;
}
.vector-icon25,
.vector-icon26,
.vector-icon27,
.vector-parent {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.vector-icon25 {
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 10;
}
.vector-icon26,
.vector-icon27 {
  top: 0.1px;
  z-index: 11;
}
.vector-icon27 {
  top: 0;
  z-index: 12;
}
.button-instance {
  position: absolute;
  top: 20.8px;
  left: 367.7px;
  width: 17.9px;
  height: 18px;
}
.vector-icon28,
.vector-icon29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}
.vector-icon29 {
  top: 35.4px;
  left: 18.7px;
  width: 88px;
  height: 66.2px;
  z-index: 12;
}
.vector-parent2 {
  position: absolute;
  top: 79.6px;
  left: 162.6px;
  width: 125.3px;
  height: 125.4px;
}
.vector-icon30,
.vector-icon31,
.vector-icon32 {
  position: absolute;
  top: 86.1px;
  left: 126.2px;
  width: 29px;
  height: 20.8px;
  z-index: 11;
}
.vector-icon31,
.vector-icon32 {
  top: 177.6px;
}
.vector-icon32 {
  top: 141px;
  left: 126.3px;
  width: 26.1px;
  height: 2.4px;
}
.vector-icon33,
.vector-icon34,
.vector-icon35 {
  position: absolute;
  top: 86.1px;
  left: 297.8px;
  width: 29px;
  height: 20.8px;
  z-index: 11;
}
.vector-icon34,
.vector-icon35 {
  top: 177.6px;
  left: 297.7px;
}
.vector-icon35 {
  top: 141px;
  left: 300.6px;
  width: 26.1px;
  height: 2.4px;
}
.vector-parent1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.confirmed,
.your-order-is {
  margin: 0;
}
.your-order-is-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 111.2%;
  font-weight: 400;
  font-family: inherit;
  z-index: 11;
}
.your-order-is-confirmed-wrapper {
  align-self: stretch;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.shopping-cart-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button1 {
  width: 150px;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  font-family: Causten;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrowright-icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}

.frame-group {
  display: flex;
  flex-direction: row;
}
.button {
  z-index: 11;
  margin-left: -193px;
}
.frame-group {
  position: absolute;
  top: 0;
  left: 291.8px;
  width: 412px;
  height: 462.1px;
  align-items: flex-end;
  justify-content: center;
  padding: 260px 20px 52.1px 65px;
  box-sizing: border-box;
}
.confirmed-order,
.frame-parent {
  position: relative;
  flex-shrink: 0;
  // debug_commit: f6aba90;
}
.frame-parent {
  width: 703.8px;
  height: 511.9px;
  text-align: center;
  font-size: 30px;
  color: #3c4242;
  font-family: "Core Sans C";
}
.confirmed-order {
  margin-right: -320px;
  width: 1440px;
  height: 1584px;
  background-color: #fff;
  overflow: hidden;
}
.order-confirmed-1 {
  width: 100%;
  height: 726px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 107px 126px 107.1px;
  box-sizing: border-box;
  gap: 143.1px;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .your-order-is-container {
    font-size: 24px;
    line-height: 27px;
  }
}
@media screen and (max-width: 675px) {
  .order-confirmed-1 {
    gap: 36px 143.1px;
    padding-left: 31px;
    padding-right: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .your-order-is-container {
    font-size: 18px;
    line-height: 20px;
  }
  .order-confirmed-1 {
    gap: 18px 143.1px;
  }
}
