@tailwind base;
@tailwind components;
@tailwind utilities;

html,
.scroll-container {
  overflow: scroll;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-sec {
  background-color: #f6f6f6;
}

.bg-w {
  background-color: #fff;
}

.bg-primary {
  background: #8a33fd;
}

.text-primary {
  color: #8a33fd;
}

.text-sec {
  color: #3c4242;
}

.cursor {
  cursor: pointer;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
}

.link {
  text-decoration: underline;
}

.m-0 {
  margin: 0 !important;
}

.mb-50 {
  margin-bottom: 50px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-20 {
  margin-top: 20px;
}

.p-20 {
  padding: 20px;
}

.radius-12 {
  border-radius: 12px;
}

.bold {
  font-weight: bold;
}

.dis-fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dis-fcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hov-scale:hover {
  transition: all 0.2s ease-in-out;
  color: #3c4242;
  /* transform: scale(1.1); */
}

.op-7 {
  opacity: 0.7;
}

.input-md {
  padding: 8px 12px;
}

.sm-divider {
  margin: 10px 0;
  opacity: 0.5;
}

@keyframes bounce {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.bouncing-button {
  animation: bounce 0.4s linear;
}
